@charset "UTF-8";
/*FONTS*/
@font-face {
  font-family: "Frank";
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Frank"), url("../fonts/Frank/Frank-Regular.eot") format("eot"), url("../fonts/Frank/Frank-Regular.ttf") format("ttf"), url("../fonts/Frank/Frank-Regular.woff") format("woff");
}
/*FONTS*/
body {
  font-family: "Frank";
  margin: 0;
  padding: 0;
}

/*FONTS*/
@font-face {
  font-family: "Frank";
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Frank"), url("../fonts/Frank/Frank-Regular.eot") format("eot"), url("../fonts/Frank/Frank-Regular.ttf") format("ttf"), url("../fonts/Frank/Frank-Regular.woff") format("woff");
}
/*FONTS*/
body {
  margin: 0;
  padding: 0;
  font-family: "Frank";
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.header .header-top {
  display: flex;
  justify-content: space-between;
}
.header .header-top .header-top__create-button {
  margin-left: 5%;
}
.header .header-top .header-top__create-button .header-top__create-button__button {
  display: flex;
  justify-content: center;
  width: 224px;
  height: 50px;
  border: 1px solid #9F0023;
  border-radius: 56px;
}
.header .header-top .header-top__create-button .header-top__create-button__button .button-text {
  text-decoration: none;
  color: #9F0023;
}
.header .header-top .header-top__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  width: 200px;
}
.header .header-top .header-top__contact .phone-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  color: #373334;
}
.header .header-bottom {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #373334;
  width: 90%;
  margin-left: 5%;
}
.header .header-bottom .navigation {
  margin: 0;
  padding: 0;
  border: none;
}
.header .header-bottom .navigation .list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header .header-bottom .navigation .list li {
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  color: #373334;
  white-space: pre;
  margin-left: 8%;
}
.header .header-bottom .navigation .list li a {
  color: #373334;
  width: 200px;
}
.header .header-bottom .navigation .list #first__item {
  margin-left: 0;
}
.header .header-bottom .navigation .add {
  display: none;
}
.header .header-bottom .subscribe {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  border: none;
  margin-right: 2.5%;
}
.header .header-bottom .subscribe .subscribe__text {
  margin-right: 8%;
  white-space: pre;
}
.header .header-bottom .subscribe .subscribe__text p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  color: #373334;
}
.header .header-bottom .subscribe .subscribe__networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .header-bottom .subscribe .subscribe__networks .networks__item {
  margin-left: 15%;
}
@media (max-width: 1024px) {
  .header .header-bottom {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #373334;
    width: 90%;
    margin-left: 5%;
  }
  .header .header-bottom .navigation {
    margin: 0;
    padding: 0;
    border: none;
  }
  .header .header-bottom .navigation .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .header .header-bottom .navigation .list li {
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
    color: #373334;
    white-space: pre;
    margin-left: 3%;
  }
  .header .header-bottom .navigation .list li a {
    color: #373334;
    width: 200px;
  }
  .header .header-bottom .navigation .list #first__item {
    margin-left: 0;
  }
  .header .header-bottom .subscribe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    border: none;
    margin-right: 2.5%;
  }
  .header .header-bottom .subscribe .subscribe__text {
    margin-right: 8%;
    white-space: pre;
  }
  .header .header-bottom .subscribe .subscribe__text p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
    color: #373334;
  }
  .header .header-bottom .subscribe .subscribe__networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header .header-bottom .subscribe .subscribe__networks .networks__item {
    margin-left: 15%;
  }
}
@media (max-width: 950px) {
  .header .header-bottom .navigation .list {
    display: none;
  }
  .header .header-bottom .navigation .add {
    display: block;
    margin-top: 5%;
  }
  .header .header-bottom .navigation .add li {
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    color: #373334;
  }
  .header .header-bottom .navigation .add li:hover {
    color: #F2F2F2;
  }
}

.news {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}
.news .news__title {
  margin-top: 4%;
}
.news .news__title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 125%;
  color: #373334;
  margin: 0;
  padding: 0;
}
.news .news__nav p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #959595;
}
.news .news__selectors {
  display: flex;
  justify-content: flex-start;
  margin-top: 2.5%;
}
.news .news__selectors .selector__calendar {
  display: flex;
  justify-content: space-between;
  width: 32%;
  border: 2px solid #373334;
  padding: 0px 15px 0px 15px;
}
.news .news__selectors .selector__calendar:hover {
  cursor: pointer;
}
.news .news__selectors .selector__calendar .calendar__date {
  display: flex;
  align-items: center;
}
.news .news__selectors .selector__calendar .calendar__date img {
  width: 20px;
  height: 20px;
}
.news .news__selectors .selector__calendar .calendar__date p {
  margin-left: 20%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #373334;
}
.news .news__selectors .selector__calendar .calendar__drop-icon {
  display: flex;
  align-items: center;
}
.news .news__selectors .selector__theme {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: 5%;
  border: 2px solid #373334;
  padding: 0px 15px 0px 15px;
}
.news .news__selectors .selector__theme:hover {
  cursor: pointer;
}
.news .news__selectors .selector__theme .theme__text {
  display: flex;
  align-items: center;
}
.news .news__selectors .selector__theme .theme__text p {
  margin-left: 20%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #373334;
  white-space: pre;
  margin: 0;
  padding: 0;
}
.news .news__selectors .selector__theme .theme__drop-icon {
  display: flex;
  align-items: center;
}
.news .news__cards {
  display: flex;
  flex-wrap: wrap;
}
.news .news__cards .news__cards__card {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
  width: 28%;
}
.news .news__cards .news__cards__card#first {
  margin-left: 0;
}
.news .news__cards .news__cards__card .news__cards__card__image img {
  width: 420px;
  height: 264px;
}
.news .news__cards .news__cards__card .news__cards__card__discription {
  display: flex;
  justify-content: flex-start;
}
.news .news__cards .news__cards__card .news__cards__card__discription p {
  padding-right: 5%;
}
.news .news__cards .news__cards__card .news__cards__card__discription p.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #9F0023;
}
.news .news__cards .news__cards__card .news__cards__card__discription p.date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #959595;
  margin-top: 4%;
}
.news .news__cards .news__cards__card .news__cards__card__info p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #373334;
}
.news .news__cards .news__cards__card .news__cards__card__link {
  margin-top: 10%;
}
.news .news__detailed {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
  background-color: #FFFFFF;
  padding: 3%;
  margin-bottom: 5%;
}
.news .news__detailed .news__detailed__discription {
  margin-left: 5%;
}
.news .news__detailed .news__detailed__discription .disription__title {
  display: flex;
  justify-content: flex-start;
}
.news .news__detailed .news__detailed__discription .disription__title .title__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #9F0023;
}
.news .news__detailed .news__detailed__discription .disription__title .title__date {
  margin-left: 5%;
  margin-top: 1.4%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 115%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #959595;
}
.news .news__detailed .news__detailed__discription .discription__info p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #373334;
}
.news .news__detailed .news__detailed__discription .discription__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.news .news__detailed .news__detailed__discription .discription__footer .footer__text p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #373334;
}
.news .news__detailed .footer__link {
  margin-top: 20%;
  margin-left: 8%;
}
.news .news__detailed__pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.news .news__detailed__pages a {
  margin-left: 2%;
}
.news .news__detailed__pages a p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  color: #373334;
}
.news .news__detailed__pages a p#choiced {
  border-bottom: 3px solid #9F0023;
}
@media (max-width: 1440px) {
  .news .news__cards .news__cards__card .news__cards__card__image img {
    width: 400px;
    height: 264px;
  }
}
@media (max-width: 1519px) {
  .news .news__cards .news__cards__card .news__cards__card__image img {
    width: 350px;
    height: 264px;
  }
}
@media (max-width: 1024px) {
  .news .news__cards .news__cards__card .news__cards__card__image img {
    width: 280px;
    height: 150px;
  }
  .news .news__cards .news__cards__card .news__cards__card__info p {
    font-size: 16px;
  }
  .news .news__detailed .news__detailed__image {
    margin-top: 8%;
  }
  .news .news__detailed .news__detailed__image img {
    width: 350px;
  }
  .news .news__detailed .news__detailed__discription .discription__info p {
    font-size: 16px;
  }
  .news .news__detailed .news__detailed__discription .discription__footer .footer__text p {
    font-size: 14px;
  }
  .news .news__detailed .footer__link {
    margin-top: 38%;
  }
}
.footer {
  background-color: #FFFFFF;
  margin-top: 3%;
  padding-top: 3%;
}
.footer .footer__body {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}
.footer .footer__body .footer__body__subscribe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 3px solid #373334;
  padding-bottom: 5%;
  margin-bottom: 4%;
}
.footer .footer__body .footer__body__subscribe .footer__body__subscribe__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  color: #373334;
}
.footer .footer__body .footer__body__subscribe .footer__body__subscribe__networks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .footer__body .footer__body__subscribe .footer__body__subscribe__networks .networks__item {
  margin-left: 2%;
}
.footer .footer__body .footer__body__subscribe .footer__body__subscribe__networks .networks__item#first {
  margin: 0;
}
.footer .footer__body .footer__body__subscribe .footer__body__subscribe__networks .networks__item .networks__icon {
  width: 24px;
  height: 24px;
}
.footer .footer__body .footer__body__privacy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
.footer .footer__body .footer__body__privacy .privacy__text {
  display: flex;
  flex-direction: column;
}
.footer .footer__body .footer__body__privacy .privacy__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #373334;
  margin: 0;
  padding: 0;
}
.footer .footer__body .footer__body__privacy .privacy__text a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #373334;
}
.footer .footer__body .footer__body__privacy .privacy__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=allNews.css.map */